<label>
    <input type="checkbox" class="hidden-checkbox">
    
    <div class="toggle">
        <span class="top_line common"></span>
        <span class="middle_line common"></span>
        <span class="bottom_line common"></span>
    </div>
    
    <div class="slide">
        <h1> MEMORI </h1>
        <ul>
            <li><a href="/"><i class = "fas fa-house"></i> Início </a></li>
        
            <li><a href="/estatisticas"><i class ="fas fa-tv"></i> Estatísticas </a></li>
        
            <li><a href="/usuarios"><i class = "fas fa-user"></i> Usuários</a>
                <!--<ul class="dropdown">
                    <li><a href="/#">Cadastrar Usuários</a></li>
                    <li><a href="/#">Consultar Usuários</a></li>
                </ul>-->
            </li>
            
            <li><a href="/rotas"><i class = "fas fa-folder"></i> Rotas </a>
                <!--<ul class="dropdown-rotas">
                    <li><a href="/#">Cadastrar Rotas</a></li>
                    <li><a href="/#">Consultar Rotas</a></li>
                    <li><a href="/#">Cadastrar Checkpoints</a></li>
                    <li><a href="/#">Consultar Checkpoints</a></li>
                </ul> -->
            </li>
            <li><a href="/checkpoints"><i class = "fas fa-location-dot"></i> Checkpoints </a>
        </ul>
        
        <div class="logo"><img src="/imgs/logo-quadrado.png" height="50px" style="border-radius: 10px;"></div>
        
    </div>
    </label>
<br>