<div class="container-formulario">
    <h3> Registro de Rotas </h3>
    <hr>
    <div class="wrapper">
    <div class="cadastrar">
        <h4> Cadastrar nova Rota </h4>
        <hr>
        <form action="/rotas/new" method="POST">
            <div class="inserir-dados">
            <label> Titulo do Percurso:</label>
            <input type="text" name="titulo-percurso" placeholder="Digite o titulo do percurso" class="form-input" required>
            <br>
            <label> Cidade localizada:</label>
            <select name="cidades" id="cidades">
                <option value="Registro">Registro</option>
              </select> 
              <br>
            <label> Longitude:</label>
            <input type="text" name="longitude-inicio" placeholder="Digite a longitude" class="form-input" required>
            <label>Latitude:</label>
            <input type="text" name="latitude-inicio" placeholder="Digite a latitude" class="form-input" required>
            <br><br>

            <label>Imagem de capa:</label>
            <div class="cadastro-arquivo" method="post" enctype="multipart/form-data">
                <form action="/upload-capa">
                    <input type="file" name="upload-capa" class="btn-arquivo" required>    
                </form>
            </div>

            <div class="div-botao">
                <button name="cadastrar-rota" class="button-cadastro"> Cadastrar </button>
            </div>
            <br>
            <input type="hidden" name="id" value="<%= checkpoint.id %>">
            <input type="submit" class="btn btn-warning" value="Alterar" onclick="return confirm (`Confirme as alterações
            realizadas para o usuario <%= checkpoint.nomeCheckpoint %>?`)">
            </div>
        </form>
    </div>